.feed-header {
    display: flex;
    width:auto;
    height: auto;
    margin-left: 500px;
}

.button {
   margin-right: 10px;
}
.instagramfeed {
    width:auto;
    height: auto;
}
.container {
    width:auto;
    height: auto;
    margin-left: 500px;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: white;
    border: solid;
    border-radius: var();
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    width: auto;
}
.dropdown-item.dropdown-logout {
    color: red;
}
.post-button {
    color: white;
    background-color: #198754;
    border: none;
    height: 30px;
}
.publish-button {
    color: white;
    background-color: #198754;
    border: none;
    height: 40px;
}
.card {
    margin: auto;
    size: 500px;
    margin-top: 20px;

}
.row {
    margin-bottom: 20px;
}
.modal-body textarea {
    width: 450px;
    height: 80px
}
.cardheader3 {
    display: flex;
}
.cardheader3 p {
    margin-left: 300px;
}
.cardheader3 h5 {
    margin-left: 10px;
}
.cardheader4 p {
    margin-left: 200px;